@charset "UTF-8";
/* andorinstyle.scss */
/* Página dos posts */
/*Cores anteriores: #73d8f7 #c4fdff */
/*Azul clarinho: #eafcff */
/* Outro azul anteriormente utilizado: #90fbff  */
/* Outro azul anteriormente utilizado: #b0f3ff     */
body {
  font-family: Montserrat;
  background-color: #fbfffa;
}

.nd-anuncios {
  padding: 30px;
}
.nd-anuncios .anuncio {
  font-size: 0.4rem;
  font-weight: bold;
  margin-right: 1em;
  border-radius: 15px;
  background-color: #effcff;
  padding: 1em;
}
.nd-anuncios .anuncio img {
  height: 100px;
  width: 100%;
  display: block;
  margin-bottom: 1em;
  /* border: solid black 2px; */
  border-radius: 15px;
}
.nd-anuncios .anuncio:hover {
  border: 2px solid #43005d;
}

@media (max-width: 900px) {
  /*Não parece estar funcionando direito */
  .nd-anuncios {
    width: 100%;
  }
  .nd-anuncios .anuncio {
    width: 25%;
    margin: auto;
  }
  .nd-anuncios .anuncio img {
    width: 100%;
    margin: 15px auto;
  }
}
/* Coluna dos posts começa aqui */
.nd-posts {
  margin-right: 0.2rem;
  font-size: 0.5em;
}
.nd-posts .post {
  margin-bottom: 30px;
  /* border: solid black 2px; */
  border-radius: 15px;
  padding: 30px 30px 15px 30px;
  background-color: #effcff;
  transition-duration: 500ms;
}
.nd-posts .post .top-of-the-post {
  display: flex;
  justify-content: left;
  margin-bottom: 1em;
}
.nd-posts .post .top-of-the-post .post-profile-image {
  width: 5%;
  display: inline-flex;
}
.nd-posts .post .top-of-the-post .post-profile-image img {
  width: 100%;
  height: 100%;
}
.nd-posts .post .top-of-the-post .post-username {
  font-size: 18px;
  width: 40%;
  margin-left: 30px;
  display: inline-flex;
  justify-content: flex-start;
}
.nd-posts .post .top-of-the-post .post-username span {
  display: inline-block;
  font-weight: 600;
}
.nd-posts .post .top-of-the-post .post-date {
  display: inline-flex;
  justify-content: flex-end;
  width: 50%;
}
.nd-posts .post .top-of-the-post .post-date span {
  display: inline-block;
}
.nd-posts .post .nucleus-of-the-post {
  display: block;
}
.nd-posts .post .nucleus-of-the-post img {
  width: 100%;
}
.nd-posts .post .nucleus-of-the-post .main-text {
  font-weight: 600;
}
.nd-posts .post .nucleus-of-the-post p {
  font-weight: 600;
}
.nd-posts .post .nucleus-of-the-post input {
  width: 100%;
  height: 100px;
  border-radius: 15px;
}
.nd-posts .post .bottom-of-the-post p {
  display: inline-block;
  font-size: 0.4rem;
  font-weight: bold;
  width: 100%;
  margin: 0;
}
.nd-posts .post .bottom-of-the-post .darkbutton {
  color: #ddd;
  font-weight: 700;
  font-size: 13px;
  background-color: #43005d;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 0.3rem;
  float: right;
}
.nd-posts .post:hover {
  border: 2px solid #43005d;
}

/* Coluna do chat começa aqui */
.nd-chat .chat {
  /* border: solid black 2px; */
  border-radius: 15px;
  background-color: #effcff;
  margin-bottom: 5px;
}
.nd-chat .chat img {
  max-height: 20px;
  margin-left: 15px;
}
.nd-chat .chat p {
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
}
.nd-chat .chat:hover {
  border: 2px solid #43005d;
}

/*# sourceMappingURL=andorinstyle.css.map */
