/* andorinstyle.scss */

/* Página dos posts */ 

$verdinho : #73d8f7;


.nd-anuncios {
    padding: 30px;
    .anuncio {
        font-size: 0.4rem;
        font-weight: bold;
        margin-right: 1em;
        
          img { 
              height: 100px;
              width: 100%;
              display: block;
              margin-bottom: 1em;
              /* border: solid black 2px; */
              border-radius: 15px;
          }
      }
             
}


/* Coluna dos posts começa aqui */

.nd-posts {
    margin-right: 0.2rem;
    font-size: 0.5em;
    .post {
        
        margin-bottom: 30px;
        /* border: solid black 2px; */
        border-radius: 15px;
        padding: 30px 30px 15px 30px;
        background-color: $verdinho;
        
        .top-of-the-post {
            display: flex;
            justify-content: left;
            margin-bottom: 1em;
            .post-profile-image {
                width: 5%;
                display: inline-flex;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            
            }
            .post-username {
                font-size: 18px;
                width: 40%;
                margin-left: 30px;
                display: inline-flex;
                justify-content: flex-start;
                span {
                    display: inline-block;
                    font-weight: 600;
                }
            }
            .post-date {
                display: inline-flex;
                justify-content: flex-end;
                width: 50%;
                span {
                    display: inline-block;
                }
            }
            
        
        }

        .nucleus-of-the-post {
            display: block;
            .main-text {
                font-weight: 600;
            }
        }

        .bottom-of-the-post {
            p {
                display: inline-block;
                font-size: 0.4rem;
                font-weight: bold;
                margin: 0;
            }
            .darkbutton {
                color: #ddd;
                background-color: #222222;
                border-radius: 15px;
                margin-bottom: 0.3rem;
            }
        }
        
    }
    



}

/* Coluna do chat começa aqui */

.nd-chat {
    
    .chat { 
        /* border: solid black 2px; */
        border-radius: 15px;
        background-color: $verdinho;
        margin-bottom: 5px;
        img {
            max-height: 20px;
            margin-left: 15px;
        }
        p {
            margin-bottom: 0;
            margin-left: 15px;
            font-size: 15px;
            vertical-align: middle;
            display: inline-block;
        };
    }
}